.twophones {
	
}

@media screen and (max-width: 970px) {
	.twophones {
	    float: none !important;
	}
}

.project_container {
	width: 100% !important;
	margin-left: -40px !important;
}

@media screen and (max-width: 970px) {
	.project_container {
		margin-left: 0px !important;
	}
}

.project_description {
	line-height: 193% !important;
}


.float_right {
	float: right !important;
}

.margin_top {
	margin-top: 50px !important;
}

.margin_bottom {
	margin-bottom: 100px !important;
}

.app-store-icons {
    height: 60px;
    padding: 1rem;
}

.app-store-icons a {
    display: block!important;
    overflow: visible!important;
    float: left;
}

.project-overview {
	float: right;
}

.project-colors {
	display: inline-block;
}
