<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body width="100%">
  <nav class="white black-text" role="navigation">
    <div class="nav-wrapper container">
    {% if page.url == "/" %}
    {% else  %}
        <a id="logo-container" href="/" class="brand-logo">Home</a>
    {% endif %}
    
      <ul class="right hide-on-med-and-down">
        <li><a href="/imprint">Imprint</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/imprint">Imprint</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    {{ content }}





<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Benjamin Stürmer
    <a class="right" href="https://twitter.com/#!/BenjaminStrmer"><img src="/images/social_twitter.png"></a>
    <a class="right" href="http://facebook.com/benjamin.stuermer"><img src="/images/social_facebook.png"></a>
    <a class="right" href="http://www.stuermer-benjamin.de/+"><img src="/images/social_google-plus-black.png"></a>
    </div>
  </div>
</footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ site.baseurl }}/scripts/materialize.js"></script>
  <script src="{{ site.baseurl }}/scripts/init.js"></script>


    <script src="lightbox.js"></script>
    <script>
        lightbox.option({
          'resizeDuration': 200,
          'wrapAround': true
        })
    </script>
    <script type="text/javascript">
        var current_h = null;
        var current_w = null;

        $('.resize').hover(
            function() {
                wrapper[0].style.cssText = "margin-top: -"+ h +"px; padding: "+ h +"px 0;";
                current_h = $(this, 'img')[0].height;
                current_w = $(this, 'img')[0].width;
                $(this).stop(true, false).animate({width: (current_w * 1.3), height: (current_h * 1.3)}, 300);
            },
            function(){
                $(this).stop(true, false).animate({width: current_w + 'px', height: current_h + 'px'}, 300);
            }
        );
    </script>
    
</body>

</html>