<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body width="100%">
  <nav class="white black-text" role="navigation">
    <div class="nav-wrapper container">
    {% if page.url == "/" %}
    {% else  %}
        <a id="logo-container" href="/" class="brand-logo">Home</a>
    {% endif %}
    
    </div>
  </nav>

    {{ content }}




<footer class="page-footer grey lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Benjamin Stürmer &nbsp; <a class="white-text" href="/imprint">Imprint</a> | <a class="white-text" href="/privacy">Privacy</a> | <a class="white-text" href="/contact">Contact</a>

    <a class="right" href="https://twitter.com/#!/BenjaminStrmer"><img src="/images/social_twitter.png"></a>
    <a class="right" href="http://facebook.com/benjamin.stuermer"><img src="/images/social_facebook.png"></a>
    <a class="right" href="http://www.stuermer-benjamin.de/+"><img src="/images/social_google-plus-black.png"></a>
    </div>
  </div>
</footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ site.baseurl }}/scripts/materialize.js"></script>
  <script src="{{ site.baseurl }}/scripts/init.js"></script>


  <!--  LightGallery -->
  <script src="/lightgallery.js"></script>
  <script src="/lightgallery-fullscreen.js"></script>
  <script src="/lightgallery-zoom.js"></script>
  
  <script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
      download:false,
      preload:8
    });
  </script>


  <!--  Hover effect -->
  <script type="text/javascript">
    var current_h = null;
    var current_w = null;

    $('.resize').hover(
      function() {
        wrapper[0].style.cssText = "margin-top: -"+ h +"px; padding: "+ h +"px 0;";
        current_h = $(this, 'img')[0].height;
        current_w = $(this, 'img')[0].width;
        $(this).stop(true, false).animate({width: (current_w * 1.3), height: (current_h * 1.3)}, 300);
      },
      function(){
        $(this).stop(true, false).animate({width: current_w + 'px', height: current_h + 'px'}, 300);
      }
    );
  </script>


  <!--  Hashlink example:  /#3 -->
  <script type="text/javascript">
    $(document).ready(function() {
      if(window.location.hash) {
        var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
        console.log('found image with leading #mb'+hash);

        $('#picture'+hash).trigger('click');
        

        // hash found
      } else {
        console.log('Could not find image with leading #');
        // No hash found
      }
    });
  </script>    
</body>

</html>