---
layout: default
---

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">

        <div class="project-overview">
          {% for color in page.colors %}
            <p style="height: 50px; width: 50px; background-color:#{{ color.color }};">&nbsp;</p>
          {% endfor %}
        </div>

        <div class="project-overview2">
          {% for image in page.images %}
          <img src="{{ image.overview }}" title="{{ image.title }}" alt="{{ image.title }}" style="width: 70%" class="project-colors">
          {% endfor %}
        </div>
      </div>

      <div style="clear:both"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12">
      {{ content }}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <p class="app-store-icons">
	    {% for url in page.urls %}
	    	{% if url.type == "playstore" %}
				<a href="{{ url.url }}"><img src="https://play.google.com/intl/en_us/badges/images/badge_new.png" style="height:40px;" alt=""></a>
	    	{% elsif url.type == "appstore" %}
				<a href="{{ url.url }}" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>
	    	{% endif %}
	    {% endfor %}
  	 </p>
    </div>
  </div>

</div>
